@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-color: #FFFFFF;
  color: #000;

  /* Allow mouse dragging. */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  /* disable touch panning/zooming */
  -ms-touch-action: none;
  touch-action: none;

  /* Allow canvas to hit the edges of the browser viewport. */
  margin: 0;
}

#screen canvas {
  margin: auto;
  /* Hide the gap for font descenders. */
  display: block;

  /* disable scaling interpolation */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

#share {
  margin: 10px auto;
  text-align: center;
}

#share .fb-share-button iframe {
  margin-top: -4px;
}

@font-face {
  font-family: 'Press Start 2P', cursive;;
  src: url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'),
  url('data/css/Press_Start_2P.ttf') format('truetype'),
  font-weight: normal;
  font-style: normal;
}

.google {
  position: absolute;
  left:23%;
}
